.content .card-vac-data,
.content .card-vac-data2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
    margin-bottom: 30px;
}

.card-vac-data .card-header {
    background: #2a94c3;
    border-radius: 0 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-vac-data .card-header h2,
.card-vac-data2 .card-header h2 {
    font-family: "yaldevicolombo";
    font-weight: bold;
    margin-top: 6px;
    margin-left: 10px;
}

.card-vac-data table thead tr th  {
    font-family: "abhaya";
    font-weight: bold;
    font-size: 18px;
}

.card-vac-data table tbody tr td  {
    font-family: "abhaya";
    font-weight: normal;
    font-size: 15px;
}

.card-vac-data2 .card-header {
    background: none;
    border-radius: 0 !important;
}

.card-vac-data2 #chart-vaccine {
    background: #2a94c3;
}

.card-vac-data2 .select-vac .form-control {
    font-family: 'abhaya', serif;
    border-radius: 0;
}

.card-vac-data2 .select-vac .form-control:focus {
    box-shadow: none;
}

.card-vac-data2 .card-chart {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    background: linear-gradient(60deg,#2a94c3,#2a94c3);
    border-radius: 0;
    box-shadow: 0 12px 20px -10px rgba(76,175,80,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(76,175,80,.2);
}

.content .btn.download b {
    font-family: 'abhaya', serif;
}

.content .btn.download {
    font-size: 1rem;
    color: #fff;
    border-radius: 0;
    min-width: 90px;
    background: #424242;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.danger-value {
    color: #ff4444;
}

.normal-value {
    color: #00C851;
}