
/* password error alert */

.container .form-group label {
    display: flex;
    font-family: 'abhaya';
    
}.container .form-group .form-control {
    font-family: 'abhaya';
}

.container .form-group .alert {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: -2px;
    margin-left: 5px;    
}

.container .form-group .alert strong {
    font-family: 'abhaya';   
}

.container .form-group .alert button {
    padding: 0 ;
    margin-right: 2px;
    outline: none;
}

/* end of password error alert */




.container .menu h4 {
    font-family: 'yaldevicolombo';
}

.form-group .password-icon {
    float: right;
    margin-right: 10px;
    margin-top: -26px;
    position: relative;
    z-index: 3;
    color: #545454;
}

/* new password validation */

.pwd-validate {
    margin-top: 3vh;
}

.message {
  display:none;
  padding-top: 10px;
  background: #fff;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

.message p {
  padding-left: 75px;
  padding-top: 5px;
  font-size: 14px;
}

.message h7 {
    font-size: 13px;
    font-weight: bold;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/* end of new password validation */
