.content .card-baby-data,
.content .card-baby-data2 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
    margin-bottom: 30px;
}

.card-baby-data .card-header,
.card-baby-data2 .card-header {
    background: #2a94c3;
    border-radius: 0 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-baby-data .card-header h2 {
    font-family: "yaldevicolombo";
    font-weight: bold;
    margin-top: 6px;
    margin-left: 10px;
}

.card-baby-data table thead tr th  {
    font-family: "abhaya";
    font-weight: bold;
    font-size: 18px;
}

.card-baby-data table tbody tr td  {
    font-family: "abhaya";
    font-weight: normal;
    font-size: 15px;
}

.card-baby-data2 table {
    height: 240px;
}

.card-baby-data2 .card-header h5 {
    font-family: "yaldevicolombo";
    font-weight: bold;
    margin-top: 6px;
    margin-left: 10px;
}

.card-baby-data2 table tbody tr td  {
    font-family: "abhaya";
    font-weight: normal;
    font-size: 15px;
}

.content .btn.download b {
    font-family: 'abhaya', serif;
}

.content .btn.download {
    font-size: 1rem;
    color: #fff;
    border-radius: 0;
    min-width: 90px;
    margin-bottom: 30px;
    background: #424242;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}

.danger-value {
    color: #ff4444;
}

.normal-value {
    color: #00C851;
}