/* alert section */
.alert-section {
    position: fixed;
    z-index: 2;
    width: calc(100% - 250px);
}

.wrapper.active .alert-section{
    width: calc(100% - 80px);
    margin-left: 80px;
}

.alert-section label {
    display: flex;
}

.alert-section .alert {
    padding-left: 25px;
    border-radius: 15px;
}

.alert-section .alert strong {
    font-family: 'abhaya';
}

.alert-section .alert button {
    margin-right: 2px;
    outline: none;
}

@media screen and (max-width:768px) {
    .wrapper .content .alert-section {
        width: calc(100% - 80px);
    }
    
    .wrapper.mob-active .content .alert-section {
        width: calc(100% - 250px);
    }
}
/* end of alert section */




.title {
    text-align: center;
    font-size: large;
}

.main-timeline {
    padding-top: 60px;
    overflow: hidden;
    position: relative; 
    padding-bottom: 40px;   
}

.main-timeline:before {
    content: "";
    width: 7px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
}

.main-timeline .timeline {
    width: 50%;
    float: left;
    padding: 20px 60px;
    border-radius: 0 30px 0 0;
    position: relative;
    right: -3.5px; 
}


.main-timeline .icon {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    color: #000;
    position: absolute;
    top: -30px;
    left: -2px;
}

.main-timeline .timeline-content {
    display: block;
    padding: 30px 10px 30px 10px;
    border-radius: 20px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    color: black;
    position: relative;
    min-height: 320px;  
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after {
    content: "";
    display: block;
    width: 10px;
    height: 50px;
    border-radius: 10px;
    /*border: 1px solid white;*/
    position: absolute;
    top: -35px;
    left: 50px;
}

.main-timeline .timeline-content:after {
    left: auto;
    right: 50px;
}

.main-timeline .timeline-content {
    font-size: 24px;
    margin: 0;
}

.main-timeline .description {
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 0 5px 0;  
}
 
.main-timeline .timeline:nth-child(2n) {
    border-right: none;
    border-radius: 30px 0 0 0;
    right: auto;
    left: -3.5px;
}

.main-timeline .timeline:nth-child(2n) .icon {
    left: auto;
    right: -2px;
}

.main-timeline .timeline:nth-child(2) {
    margin-top: 130px;
}

.main-timeline .timeline:nth-child(odd) {
    /*margin: -130px 0 30px 0;*/
    margin: -30px 0 -30px 0;
}

.main-timeline .timeline:nth-child(even) {
    margin-bottom: 7px;
    margin-top: 50px;   
}

.main-timeline .timeline:first-child,

.main-timeline .timeline:last-child:nth-child(even) {
    margin-top: 0 0 30px 0;   
}

.main-timeline .timeline:nth-child(n) .icon {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.main-timeline .timeline:nth-child(2n) .icon {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);  
}

.main-timeline .timeline:nth-child(3n) .icon {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.main-timeline .timeline:nth-child(6n) .icon {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.main-timeline .timeline:nth-child(5n) .icon {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);               
}

.main-timeline .timeline:nth-child(7n) .icon {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);  
}

.main-timeline .timeline:nth-child(4n) .icon {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);                                                 
}

.main-timeline .timeline:nth-child(8n) .icon {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);         
}

.main-timeline .timeline:nth-child(9n) .icon {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);                                        
}


/*Checkboxes styles*/
input[type="checkbox"] 
{ 
    display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font-family: 'abhaya';;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before 
{
  content: '';
  display: block;
  border-radius: 5px;
  width: 17px;
  height: 17px;
  border: 2px solid black;
  position: absolute;
  margin-top: 1px;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


.timeline .title h3 {
    text-transform: uppercase;
    font-family: 'yaldevicolombo';
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 25px;
}

.vaccine {
    display: flex;
    margin: 10px;
}

.vaccine .btn {
    margin-top: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    margin-top: -4px !important;
}

.vaccine .btn:hover, .vaccine .btn:focus {
    box-shadow: none;
}

.badge {
    font-family: 'abhaya';
    min-width: 160px;
    font-weight: 100;
    color: #000;
    font-size: 12px;
    text-align: center;
    padding-top: 2px;
}

.color-given {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: linear-gradient(60deg, #66bb6a, #43a047);
    cursor: default;
    position: absolute;
    left: 50%;
}

.badge-secondary {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    pointer-events: none;
    position: absolute;
    left: 50%;
}

.badge-secondary.for-wait {
    pointer-events: auto;
    cursor: default;
}

.badge-danger {
    background: linear-gradient(60deg,#ef5350,#d32f2f);
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2),0 13px 24px -11px rgba(244,67,54,.6);
    left: 0;
}

.badge-warning {
    background:  linear-gradient(60deg,#f5700c,#ff9800);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    left: 0;
}

.badge-off {
    background:  linear-gradient(60deg,#000,#4f4f4f);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
    color: #fff;
    left: 0;
}

/* modal */

.modal-confirm {
    color: #636363;
    max-width: 400px;
}

.modal-confirm .modal-content {
    color: #000;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
    outline: none;
}

.modal-confirm .modal-body .batch{
    margin-top: -25px;
}

.modal-confirm .modal-body p{
    font-family: 'abhaya';
    font-size: 14px;
}

.modal-confirm .modal-body .batch table td {
    font-family: 'abhaya';
}

.modal-confirm .modal-body .batch table {
    margin: auto;
}

.modal-confirm .modal-body .batch table td label {
    font-family: 'abhaya';
}

.modal-confirm .modal-body .batch table td {
    padding: 3px;
}

.modal-confirm .modal-body .form-control {
    box-shadow: none;
    font-family: 'abhaya';
    font-size: 0.8rem;
    color: #000;
    width: 160px;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
    justify-content: center;
}

.modal-confirm .btn {
    color: #000;
    font-family: 'abhaya';
    font-size: 14px;
    border-radius: 2px;
    min-width: 120px;
    border: none;
    max-height: 40px;
    margin: 0 5px;
}

.modal-confirm .btn-info {
    background: #c1c1c1;
}

.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
    background: #a8a8a8;
    box-shadow: none;
}

.modal-confirm .btn-danger {
    background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #ee3535;    
    box-shadow: none;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/* end modal */



/* tooltip section */
.tooltip.show {
    opacity: 1 !important;
}


.tooltip-inner {
    min-width: 160px;
    padding: 0;
    text-align: center;
    border-radius: 0;
}

.tooltip-inner .card {
    border-radius: 0;
    background: #3e4042;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.tooltip-inner .card-body {
    padding: 5px;
}

.tooltip-inner .card-title {
    text-align: start;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

.tooltip-inner .card-text {
    font-family: 'abhaya';
    text-align: start;
    font-size: 12px;
    color: #fff;
    margin-top: 1px;
    margin-bottom: 0px;
}

.tooltip.bs-tooltip-right .arrow:before {
    display: none !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    display: none !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    display: none !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    display: none !important;
}



@media screen and (max-width:1300px) {
    .vaccine {
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .color-given {
        position: inherit;
    }
    .badge-secondary {
        position: inherit;
    }
    .vaccine .btn {
        position: inherit;
    }
}

@media screen and (max-width:970px) {
    .main-timeline::before {
        display: none;
    }
    .main-timeline .timeline {
        border: 0 !important;
        padding: 20px 15px;
    }
    .main-timeline .icon {
        display: none;
    }
    .main-timeline .timeline-content {
        height: 375px;
    }
    .main-timeline .timeline-content::before,
    .main-timeline .timeline-content::after {
        display: none;
    }
}

@media screen and (max-width:586px) {
    .main-timeline {
        padding-top: 0;
    }
    .main-timeline .timeline {
        width: 100%;
        float: none;
        padding: 20px 5px;
        margin: 0 !important;
        position: static;
    }
}
