.panel-body h2 {
    font-family: 'yaldevicolombo';
    font-weight: bold;
}
.panel-body p {
    font-family: 'abhaya';
}

.form-gap {
    padding-top: 70px;
}
.input-group input {
    border: 1px solid #888888;
    border-radius: 50px !important;
    font-family: 'abhaya';
}

.form-group input {
    border-radius: 50px !important;
    border: 1px solid #888888;
}

.form-group .btn {
    border-radius: 10px !important;
    background: #f3758a;
    border: 1px solid #f3758a;
    padding: 0;
    width: 200px !important;
    margin:auto;
    display:block;
    font-family: 'abhaya';
}

.panel {
    border: 2px solid black;
    padding: 10px;
}



.error-alert .alert strong {
    font-family: 'abhaya';   
}

.error-alert .alert button {
    outline: none;
}

/* password error alert */

/*.panel-body .error-alert {
    display: flex;
}

.panel-body .error-alert .alert {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: -2px;
    margin-left: 5px;
}

.panel-body .error-alert .alert button {
    padding: 0 ;
    margin-right: 2px;
}*/

/* password error alert */