
/* password error alert */

.container .form-group label {
    display: flex;
    font-family: 'abhaya';
    font-weight: bold;
    
}.container .form-group .form-control {
    font-family: 'abhaya';
}

.container .form-group .alert {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    margin-top: 0;
    margin-bottom: -2px;
    margin-left: 5px;
}

.container .form-group .alert strong {
    font-family: 'abhaya';   
}

.container .form-group .alert button {
    padding: 0 ;
    margin-right: 2px;
    outline: none;
}
/* end of password error alert */


.card {
    margin-top: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
}

.card-header {
    background: #2a94c3;
    border-radius: 0 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-header h3 {
    font-family: 'yaldevicolombo';
}

.form-group .password-icon {
    float: right;
    margin-right: 10px;
    margin-top: -26px;
    position: relative;
    z-index: 3;
    color: #545454;
}

.card-body .form-control:focus {
    box-shadow: none;
}

.card .btn {
    background: #2a94c3;
    color: #fff;
    font-family: 'abhaya'; 
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


/* new password validation */
.message {
  display:none;
  padding-top: 10px;
  background: #fff;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

.message p {
  font-family: 'Poppins';
  padding-left: 15px;
  padding-top: 5px;
  font-size: 11px;
}

.message h7 {
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: bold;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -15px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -15px;
  content: "✖";
}

/* end of new password validation */
