/* alert section */
.alert-section {
    position: fixed;
    z-index: 2;
    width: calc(100% - 250px);
}

.wrapper.active .alert-section{
    width: calc(100% - 80px);
    margin-left: 80px;
}

.alert-section label {
    display: flex;
}

.alert-section .alert {
    padding-left: 25px;
    border-radius: 15px;
}

.alert-section .alert strong {
    font-family: 'abhaya';
}

.alert-section .alert button {
    margin-right: 2px;
    outline: none;
}

@media screen and (max-width:768px) {
    .wrapper .content .alert-section {
        width: calc(100% - 80px);
    }
    
    .wrapper.mob-active .content .alert-section {
        width: calc(100% - 250px);
    }
}
/* end of alert section */

.card-inbox {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0;
}

.card-header {
    background: #2a94c3;
    border-radius: 0 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-header h3 {
    font-family: "yaldevicolombo";
    font-weight: bold;
    margin-top: 6px;
    margin-left: 10px;
}

.b_table .table tr td .data-sender,
.b_table .table tr td .data-msg,
.b_table .table tr td .data-date,
.b_table .table tr td .data {
    font-size: 13px;
    position: relative;
    top: 2px;
}

.b_table .table tr td .data-sender {
    max-width: 100px;
}

.b_table .table tr td .data-msg {
    max-width: 492px;
}

.b_table .table tr td .data-date {
    max-width: 190px;
}

.b_table .table tr td i {
    font-size: 16px;
    margin-right: 8px;
    margin-left: 5px;
}

.table td,
.table th {
    padding: .35rem;
    vertical-align: middle;
}

td.content div {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

td.content {
    height: 35px;
}

td.content .data-btn .btn{
    font-family: 'abhaya';
    padding: 0px;
    border-radius: 0;
    width: 65px;
    position: relative;
    top: -1px;
}

td.content .data-btn .btn:focus {
    box-shadow: none;
}


/* modal */

.modal-read {
    color: #636363;
}

.modal-read .modal-content {
    color: #000;
    padding: 20px;
    border-radius: 5px;
    border: none;
    font-size: 13px;
}

.modal-read .modal-header {

    border-bottom: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.modal-read .modal-header h5 {
    font-family: 'yaldevicolombo';
}

.modal-read .close {
    position: absolute;
    top: -5px;
    right: -2px;
    outline: none;
}

.modal-read .modal-body .form-control {
    box-shadow: none;
    font-family: 'abhaya';
    font-size: 0.8rem;
    color: #000;
}

.modal-read .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
    justify-content: center;
}

.modal-read .btn {
    color: #000;
    font-family: 'abhaya';
    font-size: 14px;
    border-radius: 2px;
    min-width: 120px;
    border: none;
    max-height: 40px;
    margin: 0 5px;
}

.modal-read .btn-reader {
    min-width: 154px !important;
}

.modal-read .btn-info {
    background: #c1c1c1;
}

.modal-read .btn-info:hover,
.modal-read .btn-info:focus {
    background: #a8a8a8;
    box-shadow: none;
}

.modal-read .btn-danger {
    background: #f15e5e;
}

.modal-read .btn-danger:hover,
.modal-read .btn-danger:focus {
    background: #ee3535;    
    box-shadow: none;
}

/* end modal */





@media screen and (max-width:576px) {
    .b_table .table tr td .data-sender,
    .b_table .table tr td .data-date {
        display: none;
    }
}

@media screen and (max-width:420px) {
    .wrapper.mob-active .b_table .table {
        display: none;
    }
    .wrapper.mob-active .card-inbox {
        margin-top: 25px;
    }
    .card-header h3 {
        font-size: 1.3rem;
    }
    .b_table .table tr td i {
        margin: 0;
    }
    td.content .data-btn .btn {
        font-size: 0.75rem;
        width: 52px;
    }
    .modal-read .btn {
        font-size: 10px;
        min-width: 110px;
    }
}





