body {
    background: #e8edf5;
    font-family: 'Roboto', sans-serif;
}

.chart-area {
    background-color: #fff;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.chart-canvas {
    position: relative;
    margin: auto;
    height: 200vh;
    width: 50vw;
    padding-bottom: 10px;
}

.for-bmi-chart {
    height: 72vh;
}


.chart-area .word p {
    font-family: 'abhaya', serif;
    display: block;
    float: left;
    font-size: 1.2rem;
    font-weight: 300;
    color: #000;
    padding-top: 10px;
    padding-left: 50px;
    width: 50%;
}

.chart-area .word .btn-set {
    display: block;
    float: right;  
}

.chart-area .word .change-btn {
    font-family: 'abhaya', serif;
    font-size: 1rem;
    color: #000;
    border-radius: 0;
    min-width: 90px;
    margin:5px;
    margin-top: 10px;
    background: #bdbdbd;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);   
}

.chart-area .word .download {
    background: #424242;
    color: #fff;
}

.data-area {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 20px;
}

.data-area .data-range .card {
    margin-top: 10px;
    min-height: 310px;
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.data-area .data-range .card h5 {
    font-family: 'abhaya', serif;
    font-weight: 300;
}

.data-area .data-range .card p {
    font-family: 'abhaya', serif;
    font-size: 14px;
}

.data-area .data-range .card p span {
    margin-right: 5px;
    border: 1px solid #000;
    border-radius: 0;
    width: 26px;
    height: 18px;
}

.data-area .data-range .card p i {
    content: '';
    display: inherit;
    margin-bottom: 2px;
    height: 1px;
    width: 15px;
    border: 1px solid #07a330;
}

.data-area .data-range .card p .color-1 {
    background-color: rgba(201,242,189, 1);
}

.data-area .data-range .card p .color-2 {
    background-color: rgba(240, 179, 26, 1);
}

.data-area .data-range .card p .color-3 {
    background-color: rgba(235,75,10, 1);
}

.data-area .data-range .card p .color-4 {
    background-color: rgba(255,255,255, 1);
}

.data-area .data-range .card p .color-5 {
    background-color: rgba(237,173,234, 1);
}


@media screen and (max-width: 1200px) {
    .chart-canvas {
        height: 230vh;
        width: 68vw;
    }
    .for-bmi-chart {
        height: 72vh;
    }
}

@media screen and (max-width: 992px) {
    .chart-canvas {
        height: 120vh;
        width: 60vw;
    }
    .for-bmi-chart {
        height: 72vh;
    }
    .chart-area .word .btn-set {
        float: left;
        padding-left: 45px;
    }
    .chart-area .word p {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .chart-canvas {
        height: 160vh;
        width: 70vw;
    }
    .for-bmi-chart {
        height: 66vh;
        width: 62vw;
    }
}

@media screen and (max-width: 576px) {
    .chart-canvas {
        height: 85vh;
        width: 58vw;
    }
    .for-bmi-chart {
        height: 62vh;
        width: 68vw;
    }
    .chart-area .word p {
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 0.7rem;
    }
    .chart-area .word .btn-set {
        float: left;
        padding-left: 5px;
        padding-bottom: 5px;
    }
    .chart-area .word .change-btn {
        font-size: 0.6rem;
        min-width: 60px;
    }
}