body {
    background: #e8edf5;
    font-family: 'Roboto', sans-serif;
}

.chart-area {
    font-family: 'abhaya', serif;
    position: relative;
    margin: auto;
    margin-bottom: 50px;
    height: 200vh;
    width: 50vw;
}

.data-range .card {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #000;
    border-radius: 15px;
}

.data-range .card p {
    font-size: 12px;
}

.data-range .card p span {
    margin-right: 5px;
    border: 1px solid #000;
}

.data-range .card p i {
    color: rgba(7,163,48, 1);
}

.data-range .card p .color-1 {
    background-color: rgba(201,242,189, 1);
}

.data-range .card p .color-2 {
    background-color: rgba(232,121,70, 1);
}

.data-range .card p .color-3 {
    background-color: rgba(235,75,10, 1);
}

.data-range .card p .color-4 {
    background-color: rgba(230,168,140, 1);
}

.data-range .card p .color-5 {
    background-color: rgba(237,173,234, 1);
}